

h1{
    color: white;
    float: right;
}
#menu{
    background-color: black;
    width: 100%;
    
}


#menu #menuSelects{
    
   width: 80%;
   float: left;

}
#menu #menuSelects select{
    color: white;
    background-color: black;
    border-color: black;
    border: 0;
    
    width: auto;
   
 
}


#menu #showHideButton{
    width: auto;
    padding: auto;
    background-color: black;
    color: white;
    
}

video{
    max-width: 100%;
    height: auto;
}



